/*
The thinking behind the colour palette is 
given at the bottom of this file.
*/
h1, h2, h3, h4, h5, h6 {color:#7B82B2;}

hr { 
  display: block;
  border-width: 1px;
  border-color: #7B82B2;
} 

header {
  font-family: Lucida Console, Verdana, sans-serif;
  color: #D5AF76;
  font-size: 24px;
  padding: 20px;
  background-color: #7B82B2;
}

footer {
  font-family: serif;
  font-size: 12px;
}

blockquote { 
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #f1f1f1;
  font-family: monospace;
  font-size: 12px;
  line-height: 190%;
}


code {
  font-family: Ubuntu Mono, Monaspace, JetBrains Mono, Consolas, monospace;
  color: black;
  background-color: #DD89C4;
  padding: 2px;
  font-size: 90%;
}

pre {
  display: block;
  font-family: Ubuntu Mono, Monaspace, JetBrains Mono, Consolas, monospace;
  white-space: pre;
  color: black;
  background-color: #DD89C4;
  padding: 2px;
  font-size: 90%;
} 

/*
.language-python {
  font-family: Ubuntu Mono, Monaspace, JetBrains Mono, Consolas, monospace;
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 90%;
}
*/

table {
  border: 1px solid #7B82B2;
  border-collapse: collapse;
  padding: 2px;
  font-family: monospace;
}
th {
  border: 1px solid #7B82B2;
  border-collapse: collapse;
  padding: 2px;
  color: #7B82B2;
}
td {
  border: 1px solid #7B82B2;
  border-collapse: collapse;
  padding: 2px;
}

body {
	line-height: 190%;
	padding-left: 20px;
	padding-right: 20px;
	font-family: Electra, Caluna, Baskerville, serif;
	background-color: #DFD7BD;
}

* {
    font-family: Electra, Caluna, Baskerville, serif;
  }

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  padding-right: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: left;
  padding: 20px;
}

.item1 {
  grid-area: 1 / 2 / span 3 / span 1;
}

/*
The colours are inspired from Claude Monet's Wheatfield (1881).
https://sammlung.museum-barberini.de/en/MB-Mon-09_claude-monet-wheatfield

Hex color codes that are a close approximation of the painting's dominant hues
are as follows:

1. Wheatfield Beige – #DFD7BD
A warm, muted wheat tone representing the sunlit field.

2. Golden Ochre – #D5AF76
A soft golden hue capturing the ripened wheat.

3. Sky Blue – #C3CFDC
A pale, airy blue reflecting the expansive sky.

4. Pastel Lilac – #DD89C4
A gentle lilac tone, possibly representing distant flora or atmospheric effects.

5. Soft Green – #85F08C
A light green shade indicative of vegetation in the field.

6. Muted Blue – #7B82B2
A subdued blue tone, perhaps illustrating shadows or distant elements.


*/