h1, h2, h3, h4, h5, h6 {color:#5b2c6f;}

hr { 
  display: block;
  border-width: 1px;
  border-color: #2c3e50;
} 

header {
  font-family: Lucida Console, Verdana, sans-serif;
  color: #bdc3c7;
  font-size: 24px;
  padding: 20px;
  background-color: #2c3e50;
}

footer {
  font-family: serif;
  font-size: 12px;
}

blockquote { 
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #f1f1f1;
  font-family: monospace;
  font-size: 12px;
  line-height: 190%;
}

code {
  font-family: "Courier New", monospace;
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 90%;
}

pre {
  display: block;
  font-family: "Courier New", monospace;
  white-space: pre;
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 90%;
} 

table {
  border: 1px solid #2c3e50;
  border-collapse: collapse;
  padding: 2px;
  font-family: monospace;
}
th {
  border: 1px solid #2c3e50;
  border-collapse: collapse;
  padding: 2px;
  color: #2c3e50;
}
td {
  border: 1px solid #2c3e50;
  border-collapse: collapse;
  padding: 2px;
}

body {
	line-height: 190%;
	padding-left: 20px;
	padding-right: 20px;
	font-family: Lucida Console, Verdana, sans-serif;
	background-color: #f4ecf7;
}

* {
    font-family: Lucida Console, Verdana, sans-serif;
  }

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  padding-right: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: left;
  padding: 20px;
}

.item1 {
  grid-area: 1 / 2 / span 3 / span 1;
}