<!DOCTYPE html>
<html lang="en">

<head>

<title>{{ page.title }}</title>

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="Description" content="A collection of beginner level projects with Raspberry Pi 3B+ or Raspberry Pi 4">

<link rel="stylesheet" type="text/css" href="./../assets/css/style.css">

<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
        document.addEventListener('DOMContentLoaded', () => {
            mermaid.initialize({ startOnLoad: true });
        });
</script>

</head>

<body>

<header>
<p>{{ site.description }}</p>
</header>

<ul class="nav">
  <li><a href = "https://aninditabasu.github.io/pi-projects/">Home</a></li>
  <li><a href = "https://aninditabasu.github.io/pi-projects/topics/photo_frame.html">Digital photo frame</a></li>
</ul>

<hr/>

	<main>
      <div>
        {{ content }}
      </div>
    </main>

<footer>
{% include footer.md %}
</footer>

</body>

</html>
