<!DOCTYPE html>
<html lang="en">

<head>

<title>{{ page.title }}</title>

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="Description" content="A collection of beginner level and useful projects with Raspberry Pi computers">

<link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | absolute_url }}">
<link rel="icon" type="image/x-icon" href="images/favicon.ico">

<script src="/assets/js/mermaid.min.js"></script>
<script>
  mermaid.initialize({ startOnLoad: true });
</script>


</head>

<body>

<header>
<p>{{ site.description }}</p>
</header>

	<main>
      <div>
        {{ content }}
      </div>
    </main>

<footer>{% include footer.md %}</footer>

</body>

</html>
