<!DOCTYPE html>
<html lang="en">

<head>

<title>{{ page.title }}</title>

<meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="Description" content="A collection of beginner level projects with Raspberry Pi 3B+ or Raspberry Pi 4">

<link rel="stylesheet" type="text/css" href="./../assets/css/style.css">

</head>

<body>

<header>
<p>{{ site.description }}</p>
<hr/>
</header>

<p><a href = "https://aninditabasu.github.io/pi-projects/">Home</a></p>
<hr/>

	<main>
      <div>
        {{ content }}
      </div>
    </main>

<footer>
{% include footer.md %}
</footer>

</body>

</html>
